* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.6 sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    border: 2px solid black;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 70%;
    min-width: 2rem;
    margin-bottom: 70px;
}

h1 {
    margin: 1rem;
    padding: 0;
    position: sticky;
    top: 0;
}

.user {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 4rem;
}

input {
    width: 80%;
    border-radius: 1rem;
    font-size: inherit;
    padding: 0.5rem 1rem;
}

button {
    border-radius: 1rem;
    font-size: inherit;
    padding: 0.25rem 0.5rem;
    margin: 0.2rem;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 1.2rem;
    overflow-y: auto;
    row-gap: 4px;
}

.task {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    position: relative;
    border: 2px solid black;
    border-radius: 1rem;
}

.checkBox {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.close {
    width: 25px;
    height: 25px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: #fff;
    position: absolute;
    right: 2rem;
    cursor: pointer;
    font-size: 0.7em;
}